body{
    background-color: rgb(0, 255, 132);
}

img{
width: 500px;
height: 400px;
border: 50px dashed orangered;
margin-top: 50px;
}

.slom{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#pencil{
    border: 50px dashed aquamarine;
}

